@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
/* font-family: "Young Serif", serif;
font-weight: 400; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

img{
    max-width: 100%;
}

h4{
    font-family: "Young Serif", serif;
    font-size: 22px;
    font-weight: 400 ;
    padding: 20px 0;  
    color: hsl(14, 45%, 36%); 
}


li{
    line-height: 25px;
    padding-left: 8px;
    margin-left: 20px;
 
}

hr{
    margin-top: 1rem;
    border-top: 1px solid  hsla(32, 10%, 34%, 0.145);
   
}

body{
    background-color: hsl(30, 54%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #fff;
    width: 628px;
    padding: 37px 37px;
    margin: 6rem 0;
    min-height: 100vh;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.container img{ width: 600px; height: auto; border-radius: 10px ; -webkit-border-radius: 10px ; -moz-border-radius: 10px ; -ms-border-radius: 10px ; -o-border-radius: 10px ;
}

.container h1{
    font-family: "Young Serif", serif;
    font: size 40px;;
    font-weight:400 ;
    padding: 20px 0;
}

.container p{
    font-size: 14px;
    font-family: "Outfit", serif;
    font-weight: 400;
    line-height: 23px;
    padding-bottom: 20px;
}


.container-prep{
    background-color: hsl(330, 100%, 98%);
    padding: 20px 25px;
    margin: 15px 0;
}

.container-prep h6{
    font-size: 18px;
    font-family: 700;
    font-family: "Outfit", serif;
    font-weight: 700;
    padding: 10px 0;
    color: hsl(332, 51%, 32%);
}

.prep-time li{
    font-size: 14px;
    font-family: "Outfit", serif;
    font-weight: 400;
    line-height: 23px;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.container-ingred{
font-size: 14px;
font-family: "Outfit", serif;
font-weight: 400;
line-height: 23px;
}

/* .container-ingred li{
line-height: 28px;
padding-left: 8px;
margin-left: 20px;
} */

.container-instr{
font-size: 14px;
font-family: "Outfit", serif;
font-weight: 400;
line-height: 23px;
}

/* .container-instr li{
line-height: 28px;
padding-left: 8px;
margin-left: 20px;
} */

  .nutrition-table {
    width: 96%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
  }
  
  .nutrition-table th, .nutrition-table td {
    padding: 10px 15px;
    border-bottom: 1px solid  hsla(32, 10%, 34%, 0.145);
  }
  
  .nutrition-table th {
    font-weight: bold;
    font-size: 14px;
    color: #5c3b21; /* Adjusted for a brownish tone */
    font-family:"Outfit", serif;
    font-weight: 400;
  }
  
  .nutrition-table td{
    font-weight: bold;
    font-size: 14px;
    color: #a9471d; /* Dark brown tone for highlight */
    font-family:"Outfit", serif;
    font-weight: 600;
  }
  

  @media screen and (max-width: 1200px) {
    .container {
        width: 740px;
        padding: 0px 0px;
        margin: 0rem 0;
        align-items: center;
    }

    .container img{
   width: 740px;
   height: auto;
   border-radius:0 ;
   -webkit-border-radius:0 ;
   -moz-border-radius:0 ;
   -ms-border-radius:0 ;
   -o-border-radius:0 ;
}
    .container h1{
    margin: 0rem 2rem;
    }

    .container p {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .container-prep{
        margin: 1rem 2rem;
    }

    h4 {
        padding: 1rem 2rem;
    }

    li{
        padding: 0rem 1rem;
        margin: 0 3rem;
    }

    hr{
        max-width: 100%;
        width: 72%;
        margin-left: 4rem;
    }
    

    .nutrition-table{
    width: 75%;
    margin: 0px 43px;
    border-collapse: collapse;
    text-align: center;
    max-width: 100%;
    }
    
    
}